// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == older-phone {
        @media only screen and (max-width: 20em) { @content };
    }
    @if $breakpoint == smaller-phone {
        @media only screen and (max-width: 25.875em) { @content };
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tablet-mid {
        @media only screen and (max-width: 66.56em) { @content };
    }
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };
    }
}

@mixin clipPath($top-left-x, $top-left-y, $top-right-x, $top-right-y, $bottom-right-x, $bottom-right-y, $bottom-left-x, $bottom-left-y) {
    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
        -webkit-clip-path: polygon($top-left-x $top-left-y, $top-right-x $top-right-y, $bottom-right-x $bottom-right-y, $bottom-left-x $bottom-left-y);
        clip-path: polygon($top-left-x $top-left-y, $top-right-x $top-right-y, $bottom-right-x $bottom-right-y, $bottom-left-x $bottom-left-y);
    }
}

@mixin defaultWidth {
    max-width: 114rem;
    margin: 0 auto;
    @include respond(tablet-mid) { max-width: 95rem; }
    @include respond(tablet-portrait) { max-width: 70rem; }
    @include respond(phone) { max-width: 50rem; }
}