.header {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;    
    position: relative;

    @include respond(tablet-portrait) {
        background-attachment: scroll;
    }

    &::after {
        background-color: #000;
        clip-path: polygon(0 0, 80% 0%, 50% 100%, 0% 100%);
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: .75;
        transition: all .3s;

        @include respond(tablet-portrait) {
            clip-path: polygon(0 0, 90% 0%, 60% 100%, 0% 100%);   
        }

        @include respond (phone) {
            clip-path: none;
        }
    }

    &__content {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 114rem;
        z-index: 1;

        @include respond(tablet-mid) {
            width: 90%;
        }

        @include respond(tablet-portrait) {
            width: 85%;
        }

        @include respond(phone) {
            text-align: center;
            width: 100%;
        }
    }

    &__options {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
        margin-top: 2rem;
        width: 50rem;

        @include respond(tablet-portrait) {
            grid-template-columns: repeat(1, 1fr);
            margin: 0;
            width: 34rem;
        }

        @include respond(phone) {
            margin: 0 auto;
            width: 65%;
        }

        @include respond(smaller-phone) {
            margin: 0 auto;
            width: 80%;
        }

        &--input,
        &--select,
        &--button {
            border: 1px solid #fff;
            border-radius: 4rem;
            box-sizing: border-box;
            font-size: 1.6rem;
            outline: none;
            padding: .7rem 1.4rem;
            text-align: left;
            transition: all .3s;
            width: 100%;
        }

        &--input {

            &:focus {
                outline-color: $primary-color;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
                transition: all .2s;
            }

            &:disabled {
                background-color: #fff;
            }
        }

        &--select,
        &--button {
            &:hover {
                cursor: pointer;
            }
        }

        &--select {
            text-transform: capitalize;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
            linear-gradient(to bottom, #fff 0%,#fff 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;

            &:focus {
                outline-color: $primary-color;
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
                transition: all .2s;
            }
        }

        &--button {
            background-color: #fff;
            color: #000;
            display: inline-block;
            text-decoration: none;

            // &:hover {
            //     border: 2px solid $primary-color;
            //     background-color: #1f1f1f;
            //     color: $primary-color;
            // }
        }
    }
}